.Container{
    display: flex;
    padding: 1em;
    border: 1px solid grey;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    
}

.CoinName{
   min-width: 125px;
    margin-left: 2em;
    
}
.CoinImg img{
   width: 18px;
   height: auto;
   
}

.CoinImg{
    width: 18px;
    margin-left: 2em;
}

.CoinSymbol{
   min-width: 40px;
    margin-left: 2em;
    
}

.CurrentPrice{
    min-width: 150px;
    margin-left: 2em;
    text-align: right;
    flex: 1;
}
.HourPercent{
    min-width: 50px;
    margin-left: 2em;
    text-align: right;
   flex: 1;
}

.DayPercent{
    min-width: 50px;
    margin-left: 1em;
    text-align: right;
    flex: 1;
}
.D7percent{
    min-width: 50px;
    margin-left: 1em;
    text-align: right;
    flex: 1;
    
}

.Volume{
    min-width: 150px;
    margin-left: 1em;
    flex: 1;
    
}

.MarketCap{
    min-width: 150px;
    margin-left: 1em;
    flex: 1;
   
}



@media screen and (max-width: 720px) {
    .MarketCap{
        display: none;
    }

    .Volume{
        display: none;
    }
}
.chart{
    margin-left: 1em;
    min-width: 130px;
    flex: 1;
}
.CoinMc{
    display: flex;
    flex-direction: row;
    width: 48px;
}