.Container{
    display: flex;
    padding: 1em;
    border: 1px solid grey;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    
}

.CoinName{
    display: flex;
    
    
}
.CoinName img{
   width: 18px;
   height: auto;
   margin-left: 2em;
}

.CoinSymbol{
    display: flex;
    
}

.CurrentPrice{
    display: flex;
}
.HourPercent{
    display: flex;
}

.DayPercent{
    display: flex;
}
.FourHrpercent{
    display: flex;
}